asgiref==3.11.1
black==24.3.0
click==8.4.0
Django==6.0.5
django-extensions==4.1
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
drf-spectacular==0.27.0
flake8==6.1.0
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
pillow==12.0.0
platformdirs==4.9.6
psycopg==3.3.3
pycodestyle==2.11.1
pyflakes==3.1.0
ipython==8.37.0
sqlparse==0.5.5
typing_extensions==4.15.0
